[draw]
# 训练好的xgboost模型的路径
model_paths = ./models/0727_shake_512/2017_08_15_11_50_27.xgmodel

# 测试集路径
datasets = ../datas/Partition/train-test-set-0727/shake_512/test_vec.dat.libsvm

# 数据格式
dataset_formats = xgboost

# 在curve中显示的模型名称
model_names = 0727_xgbmodel
# 正负样本划分阈值
thres = 0.5

#曲线标记
markers = g-

#roc和pr曲线存储路径
save_path = ./curves/