
[source]
#source_dirs contain several dirs,split by ; and must include the specific file names

#training_dirs = ./train/malware/opcode.csv;./train/normal/opcode.csv
#testing_dirs = ./test/malware/opcode.csv;./test/normal/opcode.csv
#training_dirs = P:opcode-201707/combined-0707/201707/train/malware/opcode.csv;P:opcode-201707/combined-0707/201707/train/normal/opcode.csv
#testing_dirs = P:opcode-201707/combined-0707/201707/test/malware/opcode.csv;P:opcode-201707/combined-0707/201707/test/normal/opcode.csv

training_dirs = ../datas/combined-0707/201707/map_md5_48/train/malware/map_md5_48_opcode.csv;../datas/combined-0707/201707/map_md5_48/train/normal/map_md5_48_opcode.csv
testing_dirs = ../datas/combined-0707/201707/map_md5_48/test/malware/map_md5_48_opcode.csv;../datas/combined-0707/201707/map_md5_48/test/normal/map_md5_48_opcode.csv
[dest]
#suppose we save the converted bits into a csv files
#dest_dirs = ./
#dest_dirs = P:opcode-201707/combined-0707/201707/
dest_dirs = ../datas/combined-0707/201707/map_md5_48