[source]
source_dirs = ../datas/newdownload/combined/201707/malicious/test/1
#label is the corresponding class, can be set as 1 or 0
label = 1
#for train or for test
task = test
class_type = malware

[algorithm]
#optional algorithm :map_md5,map_shake
algorithm = map_shake

#bits should be able to be divied by 8
bits = 48

[dest]
#suppose we save the converted bits into a csv files
dest_dirs = ./