[source]
#source_dirs contains many dirs separated by semicolon，label，task，test,class_type are the corresponding value w.r.t the dirs



source_dirs = ../datas/combined-0707/201707/malicious/test/1;../datas/combined-0707/201707/malicious/train/1;../datas/combined-0707/201707/normal/test/0;../datas/combined-0707/201707/normal/train/0
labels = 1;1;0;0
tasks = test;train;test;train
class_types = malware;malware;normal;normal



#source_dirs = ../datas/newdownload/combined/201707/malicious/test/1;../datas/newdownload/combined/201707/malicious/train/1;../datas/newdownload/combined/201707/normal/test/0;../datas/newdownload/combined/201707/normal/train/0
##label is the corresponding class, can be set as 1 or 0
#labels = 1;1;0;0
##for train or for test
#tasks = test;train;test;train
#class_types = malware;malware;normal;normal


[algorithm]
#optional algorithm :map_md5,map_shake
algorithm = map_md5

#bits should be able to be divied by 8
bits = 48

[dest]
#suppose we save the converted bits into a csv files
dest_dirs = ../datas/combined-0707/201707