[source_opcode2hash]
#search and convert all the opcode files inside source_dirs recursively 
source_dirs = ./test_data

[setup_opcode2hash]
#optional algorithm :map_md5,map_shake, when set as map_md5, the bits is set as 128 default
#when set as map_shake, the bits should be set manually
algorithm = map_md5

#bits should be able to be divied by 8
bits = 48


[dest_opcode2hash]
# destination path for features and labels
dest_features_path = ./test_data/hashvec.dat
dest_labels_path = ./test_data/hashvec.dat.AI

