[xg_conf]
data = ./train_NN_format/NN_features.txt
label = ./train_NN_format/NNAI.txt
# xgmat = 0 mean we need to convert the original format data into libsvm, otherwise we directly read the file specified by xgdata
xgmat = 1
xgdata = ./train_NN_format/NN_features.txt.libsvm
n_fold = 3
#whether save the learned model
save_model = 1
#pred_test = 1 means that we need to input testing data and predict the testing data
pred_test = 1
#Evaluation metrics to be watched in CV.
metrics = auc
# whether the metrics is score or loss,1 means the higher score for this metrics the better performance
if_ascend = 1
booster = gbtree
objective = binary:logistic
[test]
data = ./test_NN_format/NN_features.txt
label = ./test_NN_format/NNAI.txt
xgmat = 0
xgdata = ./test_NN_format/NN_features.txt.libsvm
