[source_opcode2hash]
#source_dirs contains many dirs separated by semicolon，label，task，test,class_type are the corresponding value w.r.t the dirs

source_dirs = ../../datas/newdownload/combined/201707/
train = ../../datas/Partition/train-test-set-0727/train.csv
test = ../../datas/Partition/train-test-set-0727/test.csv

[setup_opcode2hash]
#optional algorithm :map_md5,map_shake
algorithm = map_md5

#bits should be able to be divied by 8
bits = 48

#split train and test 
split_train_test = 0

#split malware and normal 
split_good_bad = 1

#ignore split_train_test and split_good_bad, generate all the nine files
#merge_all_opcode.csv, train_opcode.csv, test_opcode.csv, normal_opcode.csv, malware_opcode.csv
#train_normal.csv, train_malware.csv, test_normal.csv , test_malware.csv
#1 means ignore 
ignore_split = 1

[dest_opcode2hash]
#suppose we save the converted bits into a csv files
dest_dirs = ../../datas/Partition/

