[source]

#source_dirs = ./normalized/features-2017-05/,./normalized/features-2017-05/offset_normalized/,./normalized/features-2017-06/,./normalized/features-2017-06/offset_normalized/
source_dirs = ../datas/features-201707/features-230/
[label]

#train_labels_path=./2017-05_train.csv
#test_labels_path=./2017-05_test.csv
train_labels_path = ../datas/features-201707/train-test-set/train.csv
test_labels_path = ../datas/features-201707/train-test-set/test.csv
[dest]
dest_dirs = ../datas/features-201707/