#划分训练测试集的csv文件
[train_test_split]
train = ../datas/Partition/train-test-set-0727/train.csv
test =  ../datas/Partition/train-test-set-0727/test.csv

#features 和 label的路径
[source_path]
source_features_path = ../datas/newdownload/combined/201707/md5_hashvec.dat
source_labels_path = ../datas/newdownload/combined/201707/md5_hashvec.dat.AI

#是否按照训练集和测试集划分,1为真，表示按照训练集测试集划分
split_train_test = 1
#是否按照正例负例划分
split_malware_normal = 0

#划分好的之后的数据的存放目录
[dest_dir]
dest_dir =  ../datas/Partition/train-test-set-0727/

